.title {
  align-self: center;

  width: 550px;
  height: 125px;
  display: grid;
  grid-template-columns: 15px 1fr;
  grid-template-areas: "stick text";
  align-items: center;
}

.block {
  grid-area: stick;

  width: 33px;
  height: 4px;

  background: #618967;
  transform: rotate(90deg);
}

.text {
  grid-area: text;
  justify-self: center;
}

.text span {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;

  color: #FFFFFF;
}


.content {
  display: grid;
  grid-template-rows: 250px 250px repeat(22, 1fr) 245px;
  align-items: center;

  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 39px;
  text-transform: uppercase;

  color: #FFFFFF;

}

.item:nth-child(10) {
  align-self: center;
}

.item:nth-child(3) {
  align-self: end;
}

.item:nth-child(4) {
  align-self: center;
}

.item:nth-child(21) {
  align-self: center;
}